<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Ideas</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="bg-secondary" style="font-family: 'Roboto', sans-serif;">
    <nav class="navbar navbar-expand-lg bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="{% url 'home' %}">Printit</a>
            <button class="navbar-toggler btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="btn btn-outline-danger">menu</span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'my_ideas' %}">My Ideas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'create_idea' %}">Create Idea</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <div class="form-control mr-sm-2">Welcome, {{ user.first_name }}!</div>
                            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-secondary bg-gradient py-5" style="min-height: 100vh;">
        <div class="container">
            <h2>My Ideas</h2>
            <div class="row">
                {% if user_ideas %}
                {% for idea in user_ideas %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-danger"><a href="{% url 'view_idea' idea.id %}">{{ idea.title }}</a></h5>
                            <p class="card-text">{{ idea.content }}</p>
                            <p class="card-text">Created by: {{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>You haven't created any ideas yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>